{"Targets":[{"Buildname":"","Name":"OpenPBR v4.4","Header_uuid":"bd05ec3b-969f-46f6-86a0-c51660fdd442","Module_uuid":"fe2aee73-1a10-4d0e-87f8-ccdf0e6055b8","Description":"OpenPBR v4.4 PBR - 1.16","Textureset_format":"1.16.100","Default_mer":"0, 0, 255","Version":"[4,4,0]","Author":"judohippo","License":"https://github.com/bardic/openpbr/blob/main/UNLICENSE","URL":"https://github.com/bardic/openpbr","Capibility":"pbr","HeightTemplate":"_height","NormalTemplate":"_normal","MerTemplate":"_mer","ExportMer":true}]}