{
  "format_version": 2,
  "header": {
    "name": "{{.Name}}",
    "description": "{{.Description}}",
    "uuid": "{{.Header_uuid}}",
    "version": {{.Version}},
    "min_engine_version": [1, 21, 0]
  },
  "modules": [
    {
      "description": "{{.Description}}",
      "type": "resources",
      "uuid": "{{.Module_uuid}}",
      "version": {{.Version}}
    }
  ],
  "metadata": {
    "authors": [ "{{.Author}}" ],
    "license": "{{.License}}",
    "url": "{{.URL}}"
  },
  "capabilities" : [ "{{.Capability}}"]
}