{
    "minecraft:water_settings": {
        "description": {
            "identifier": "openpbr:default"
        },
        "particle_concentrations": {
            "chlorophyll": {{.Chlorophyll}},
            "suspended_sediment": {{.SuspendedSediment}},
            "cdom": {{.CDOM}}
        },
        "waves": {
            "enabled": {{.WavesEnabled}},
            "depth": {{.WavesDepth}},
            "frequency": {{.WavesFrequency}},
            "frequency_scaling": {{.WavesFrequencyScaling}},
            "mix": {{.WavesMix}},
            "octaves": {{.WavesOctaves}},
            "pull": {{.WavesPull}},
            "sampleWidth": {{.WavesSampleWidth}},
            "shape": {{.WavesShape}},
            "speed": {{.WavesSpeed}},
            "speed_scaling": {{.WavesSpeedScaling}}
        }
    }
}