{
    "format_version": "1.21.40",
    "minecraft:pbr_fallback_settings": {
        "blocks": {
            "global_metalness_emissive_roughness_subsurface": {{ .GlobalBlockMERS }}
        },
        "actors": {
            "global_metalness_emissive_roughness_subsurface": {{ .GlobalActorMERS }}
        },
        "particles": {
            "global_metalness_emissive_roughness_subsurface": {{ .GlobalParticleMERS }}
        },
        "items": {
            "global_metalness_emissive_roughness_subsurface": {{ .GlobalItemMERS }}
        }
    }
}