{
  "format_version": 2,
  "header": {
    "name": "OpenPBR",
    "description": "{{.VersionStr}}",
    "uuid": "6df2dc94-ac10-4a12-86d1-0b43fd98a8e7",
    "version": {{.VersionArr}},
    "min_engine_version": [1, 21, 0]
  },
  "modules": [
    {
      "description": "openpbr",
      "type": "resources",
      "uuid": "55efe15f-8a0b-4d2a-9270-3eadf22a1304",
      "version": {{.VersionArr}}
    }
  ],
  "metadata": {
    "authors": [ "judohippo" ],
    "license": "https://github.com/bardic/openpbr/blob/master/UNLICENSE",
    "url": "https://github.com/bardic/openpbr"
  },
  "capabilities" : [ "pbr" ]
}