{
  "format_version": "1.16.100",
  "minecraft:texture_set": {
    "color": "{{ .Colour }}",
    "metalness_emissive_roughness": {{ if eq .MerType true }} "{{.MerFile}}" {{ else }} {{ .MerArr }} {{ end }},
    "heightmap": "{{ .Height }}"
  }
}
