{
  "format_version": "1.21.30",
  "minecraft:texture_set": {
    "color": "{{ .Colour }}",
    "metalness_emissive_roughness_subsurface": {{ if eq .MerType 0 }} "{{.MerFile}}" {{ else }} {{ .MerArr }} {{ end }},
    "heightmap": "{{ .Height }}"
  }
}
